@model PersonResponse



@{
    ViewBag.Title = "Delete Person";
}

<a href="~/persons/index" class="link-hover">Back to Persons List</a>
<h2>Create Person</h2>

<div class="w-50">
    <form asp-controller="Persons" asp-action="Delete" method="post">

        <input type="hidden" asp-for="PersonID"/>
        @*Using model binding and tag helpers for demo*@
        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                @* <input type="text" id="PersonName" name="PersonName" class="form-input" /> *@
                <input asp-for="PersonName" class="form-input" disabled="disabled"/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                @* <input type="email" id="Email" name="Email" class="form-input" /> *@
                <input asp-for="Email" class="form-input" disabled="disabled"/>
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back">Delete</button>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div asp-validation-summary="All"></div>

    </form>
</div>

