@model PersonUpdateRequest
@* This is not necessary here. But if you are using tag-helpers, it is necessary. *@


@{
    ViewBag.Title = "Edit Person";
}

<a href="~/persons/index" class="link-hover">Back to Persons List</a>
<h2>Create Person</h2>

<div class="w-50">
    <form action="~/persons/edit" method="post">

        <input type="hidden" asp-for="PersonID"/>
        @*Using model binding and tag helpers for demo*@
        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                @* <input type="text" id="PersonName" name="PersonName" class="form-input" /> *@
                <input asp-for="PersonName" class="form-input" />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>


        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                @* <input type="email" id="Email" name="Email" class="form-input" /> *@
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        @*DateOfBirth*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                @* <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-input" /> *@
                <input asp-for="DateOfBirth" class="form-input" />
            </div>
        </div>

        @*Gender*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                <input type="radio" id="Male" name="Gender" value="Male" asp-for="Gender" />
                
                <label for="Male">Male</label>

                <input type="radio" id="Female" name="Gender" value="Female" class="ml" asp-for="Gender" />
                <label for="Female">Female</label>

                <input type="radio" id="Other" name="Gender" value="Other" class="ml" asp-for="Gender" />
                <label for="Other">Other</label>
            </div>
        </div>

        @*Country*@
        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label" for="CountryID">Country</label>
            </div>
            <div class="flex-1">
                @* <select name="CountryID" id="CountryID" class="form-input"> *@
                <select asp-for="CountryID" class="form-input">
                    <option value="">Please Select</option>
                    @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryID">@country.CountryName</option>
                    } 

                </select>
            </div>
        </div>


        @*Address*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                @* <textarea id="Address" name="Address" class="form-input"></textarea> *@
                <textarea asp-for="Address" class="form-input"></textarea>
            </div>
        </div>

        @*ReceiveNewsLetters*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                @* <input type="checkbox" name="ReceiveNewsLetters" id="ReceiveNewsLetters" value="true" /> *@
                <input asp-for="ReceiveNewsLetters" value="true" checked />
                <label for="ReceiveNewsLetters" class="form-label">Receive News Letters</label>
            </div>
        </div>

        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Update</button>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div asp-validation-summary="All"></div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>