@{
    ViewBag.Title = "Error";
}
<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">Error Occured during execution</h2>
    <img src="~/error.png" width="500px" style="margin-top:100px"/>
</div>